 nav ul li img{
    margin: 0px 60px
 }
nav ul li{
   display: inline-block;
   margin: 0 6px;
   
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    left: 500px;
}


button{
    color: rgb(116, 198, 249);
    text-decoration: none;
    background: white;
    padding: 10PX 30px;
    font-size: 20px;
    border: rgb(116, 198, 249)  solid;
    border-radius: 15PX;
    position: relative;
    left: 500px;
    
}
.milieux img{
   margin:-10PX 150PX;
   position: relative;
  
}
.milieux h1{
    color: #110229;
    position: absolute;
    top: 100px;
    left: 200px;
    font-size: 90px;
    font-weight: 900;
    
}
.milieux p{
    color: #585981;
    position: absolute;
    top: 350px;
    left: 200px;
    font-size: 30px;
}




